h1 {
    color: chartreuse;
    background-color: darkblue;
}

h2 {
    color: aqua;
    background-color: black;
}

#parrafouno {
    color:black;
    background-color:floralwhite;
    font-family:'Courier New', Times, serif;
    font-size: 2em;
}
#parrafoTres {
    color:darkblue;
    font-family:'Courier New', Times, serif;
}

#parrafodos {
    color: mediumspringgreen;
    background-color: brown;
    font-family: 'Footlight MT';
}
input{
    background-color:cyan;
}
button{
    background-color:lightgreen;
}
#btnCE {
    background-color: darkgrey;
    border:solid;
    padding: 3px 6px;
    border-radius: 5px;
}

#btnBorrar {
    background-color: darkgrey;
    border: solid;
    padding: 4px 4px;
    border-radius: 5px;
}

#btnIgual {
    background-color:orangered;
    border: solid;
    padding: 9px 13px;
    border-radius: 25px;
}
#btnSumar {
    background-color: sandybrown;
    border: solid;
    padding: 3px 6px;
    border-radius: 5px;
}
#btnRestar {
    background-color: sandybrown;
    border: solid;
    padding: 3px 6px;
    border-radius: 5px;
}
#btnMultiplicar {
    background-color: sandybrown;
    border: solid;
    padding: 3px 6px;
    border-radius: 5px;
}
#btnDividir {
    background-color: sandybrown;
    border: solid;
    padding: 3px 6px;
    border-radius: 5px;
}
